[submodule "scripts/php"]
	path = scripts/php
	url = https://github.com/pmmp/php-build-scripts.git
[submodule "scripts/startup"]
	path = scripts/startup
	url = https://github.com/AquaRelay/scripts.git
[submodule "tools/ExamplePlugin"]
	path = tools/ExamplePlugin
	url = https://github.com/AquaRelay/ExamplePlugin.git