# Jetbrains & Netbeams
.idea/*
!.idea/codeStyles/
!.idea/fileTemplates/
nbproject/*

# Garbage stuff
Thumbs.db

Desktop.ini

.DS_Store
/nbproject/private/

# Composer
vendor/*

# PHPCSFixer
.php-cs-fixer.cache

# AquaRelay files
config.yml
*.log
AquaRelay.phar
logs
plugins
